* {
  padding: 0;
  margin: 0;
  list-style: none;
}
#root {
  /*overflow-x: hidden;*/
}

/*#root .nav-menu {*/
  /*position: relative;*/
  /*!*z-index: 200;*!*/
  /*height: 42px;*/
  /*color: #222;*/
  /*overflow: hidden;*/
/*}*/

/*#root .nav-menu .blur-bg {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-image: url('https://i0.hdslb.com/bfs/archive/7144f963c55de1c9167033c3d11f6213008f65d2.png');*/
  /*background-position: center -10px;*/
  /*background-repeat: no-repeat;*/
  /*filter: blur(4px);*/
/*}*/
/*#root .nav-menu .nav-mask {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: hsla(0,0%,100%,.4);*/
  /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
/*}*/

/*#root .nav-menu .menu-list {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*display: flex;*/
  /*justify-content: flex-start;*/
  /*align-items: center;*/
  /*list-style: none;*/
/*}*/
/*#root .nav-menu .menu-list a {*/
  /*text-decoration: none;*/
  /*color: #222;*/
  /*height: 100%;*/
  /*display: block;*/
  /*font-size: 12px;*/
  /*padding: 0 8px;*/
  /*font-family: Microsoft Yahei,Tahoma,Helvetica,Arial,"\5B8B\4F53",sans-serif;*/
/*}*/
